* {
  font-family: "Outfit", sans-serif;  
}
  


body{
  background-color: #FCFCFC;
}
/* NAV bar  */

.container {
  background-color: #95d8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  gap: 10px;
  
}

.logo {
  width: 100px;
  height: 60px;
  margin-left: 5px;
}

.aec {
  margin-left: 10px;
  font-size: 22px;
  color: rgb(45, 44, 44);
}

/* Heading */
.percentage {
  color: #737373;
  text-align: center;
  font-size: 30px;
}

#CGPA {
  border-radius: 13px;
  width: 450px;
  padding: 20px 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #737373;
  border: 1px solid lightgrey;
  text-align: center;
  background-color: #fff;
  margin: 20px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.din {
  margin: 5px auto;
  font-size: 30px;
}

#userinput {
  width: 100px;
  border: 2px solid lightgrey;
  border-radius: 5px;
  text-align: center;
  padding: 8px;
  /* border-color: #3c5bb1; */
  outline: none; 
  font-size: 33px;
  /* font-weight: 500; */
  margin-bottom: 5px;
  color: #737373;
}

button {
  background: #95d8ff;
  font-family: inherit;
  padding: 0.4em 1em;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 17px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  margin-left: 0.5rem;
}

button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}


#replace-me {
  font-size: 30px;
  margin: 20px 0;
}


.content__or-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 13px;
  column-gap: 18px;
  margin-top: 18px;
}

.content__or-text span:nth-child(3),
.content__or-text span:nth-child(1) {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #737373;
}


.message {
  align-items: center;
  margin: 10px 0;
  font-size: 18px;
}
.message2 {
  margin-top: 3px 0 0 0;
  font-size: 18px;
}


@media screen and (max-width:620px) {
  .message{
    font-size: 15px;
  }
  .message2{
    font-size: 15px;
  }
  #replace-me {
    font-size: 25px;
   
  }
  #CGPA {
    width: 400px;
  }
  .percentage {
    font-size: 25px;
  }
  #userinput{
    width: 70px;
    font-size: 23px;
  }
  .din {
    font-size: 23px;
  }
  .logo {
    width: 80px;
    height: 50px;
  }
  button{
    font-size: 15px;
  }
  .aec {
    font-size: 20px;
    color: rgb(45, 44, 44);
  }
}
